
  <div class="myslick-slide-wrapper">
    <div class="myprojectx" id="tricksil">
     <div class="colx">Farhan working slide 1</div>
     
      <div class="colx">Farhan working slide 2</div>
      
      <div class="colx">Farhan working slide 3</div>
      <div class="colx">Farhan working slide 4</div>
      <div class="colx">Farhan working slide 5</div>
      <div class="colx">Farhan working slide 6</div>
      <div class="colx">Farhan working slide 7</div>
      
      </div>
    </div>

<script>
  $(document).ready(function(){
          $('#tricksil').slick({
       
      });
	
  });
</script>
{% schema %}
  {
    "name": "slider-install",
    "settings": [],
      "presets": [
    {
      "name": "slider-install",
      "blocks": [
      
      ]
    }
  ]
  }
{% endschema %}